* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

:root {
  --text-color: #fff;
  --bg-color: #1b1f24;
  --second-bg-color: #22282f;
  --main-color: #13bbff;
  --other-color: #c3cad5;
  --h1-font: 4.5rem;
  --h2-font: 2.9rem;
  --p-font: 1rem;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 16%;
  background-color: transparent;
  transition: all 0.50s ease;
}

.logo {
  font-size: 36px;
  color: var(--text-color);
  font-weight: 600;
}

span {
  color: var(--main-color);
}

.navlist {
  display: flex;
}

.navlist a {
  font-size: var(--p-font);
  font-weight: 500;
  color: var(--other-color);
  margin-left: 40px;
  transition: all 0.50s ease;
}

.navlist a:hover {
  color: var(--main-color);
  box-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}

#menu-icon {
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.h-btn {
  display: inline-block;
  padding: 11px 26px;
  background-color: transparent;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.50s ease;
}

.h-btn:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
  box-shadow: 0 0 20px var(--main-color);
  transform: scale(1.1);
}